nav{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-nav a:first-of-type{
    color: hsl(18, 95%, 55%);
}



div a:nth-of-type(2) { color: hsl(225, 12%, 24%); }   /* 2º <a> */
div a:nth-of-type(3) { color: hsl(225, 12%, 24%); }  /* 3º <a> */
div a:nth-of-type(4) { color: hsl(225, 12%, 24%); }

.nav-link{
    transition: ease-in-out 0.3s ;
}

.nav-link:hover{
    color: hsl(18, 95%, 55%)!important;
}