.about{
    height: 100vh;
}

.img-1{
    width: 300px;
    min-height: 450px;
    object-fit: cover;
    border: 10px solid white;
}

.img-2{
    width: 360px;
    min-height: 400px;
    object-fit: cover;
}

.content{
    width: 35%;
}

.content h6{
    color: hsl(42, 98%, 52%);
}