#stacks{
    height: 100vh;
    background-color: rgb(25, 0, 0);
}

.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(150px, max-content));
    grid-gap: 10px;
}

.item {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}