#stacks{
    height: 100vh;
    background-color: rgb(25, 0, 0);
}

.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 40%);
    width: 100%;
    grid-gap: 20px;
    
}

.item {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}