.about{
    background-color: #000000;
    min-height: 100vh;
}

.content-image img{
    width: 250px;
    height: 250px;
    transition: ease-in-out 0.3s;
}

.section img:hover{
    transform: scale(1.05);
    width: 250px;
    height: 250px;
}

.section p{
    width: 1000px;
    font-size: 1rem;
    
}

