.about{
    background-color: #000000;
    min-height: 100vh;
}

.about h1{
    color: #9e2525;
}

.content-image img{
    width: 250px;
    height: 250px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.content-image img:hover{
    transform: scale(1.05);
}

.content-image .img-2{
  position: relative;
  top: 150px;
    width: 500px;
    height: 500px;
    z-index: 100;
}

.content-image .img-1{
  position: relative;
  top: -8rem;
  left: 7rem;
}
.content-image .img-1:hover{
  border: 5px solid #e83939;
  
}
.content-image .img-3{
  position: relative;
  
  left: 3rem;
}


.section p{
    width: 1000px;
    font-size: 1rem;
    
}



@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
  transition: transform 0.1s ease;
  user-select: none;
}


