@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet"); 
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box ;
}
   
.header{ background: linear-gradient(to bottom,  #dd2476, #ff512f);
min-width: 100vh;}

.book{
    font-size: 20px;
    color: #fff;
    padding-top: 14px;
    font-family: Sniglet;
}


.nav-link{
    cursor: pointer;
    font-family: Sniglet;
 
}

.nav-link:hover{color: #000!important;}


.logo{
    color: whitesmoke;
    font-size: 41px;
}
.logo:hover{ color: #0f02a7!important;}

.brand{
    margin-left: 36px;
    margin-top: 3px;
    cursor: pointer;
}

.brand:hover,.brand:hover i, .brand:hover p { color: #0254ac!important;}

.navbar-nav{
    margin-left: 51px;
    font-family: Lobster;
    font-size: 14.4px;
}

.first-content{width: 80%;}

.title-principal{
    font-family:Rubik ;
    font-size: 62.1px;}

.author{
    font-size: 1rem;
    letter-spacing: 0.3rem;
}

.lorem{ font-size: 16.2px;}

.text-main{
    background-color: #fff;
    height: 75vh;
    width: 900px;
    position: absolute;
    right: 133px;
    top: 935px;
    padding: 7rem 5rem;
    font-family: rubik;
    font-size: 0.9em;
    color: #00000080;
}

.img-main{
    margin-left: 8px;
    height: 90vh;
    width: 59vh;
}

main{ margin: 5rem 0rem 10rem 0rem;}

.title-achievements{
    background:  url(./public/pexels-photo-452738.jpeg);
    color: rgb(240, 240, 240);
    height: 55vmin;
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;   
}

.title-achievements::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.achievements-text{position: relative;}

.title-achievements h1{
    font-weight:500;
    font-family: "Patua One";
}

.title-achievements h6{font-family: Rubik;}

.div-rect{
    position: relative;
    bottom: 100px;
}
.rect{
    background-color: white;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
    width: 17rem;
    height: 12rem;
}

.rect h1{color: #ff6347;}

.rect p{ font-family: "Patua One";}

.purchase{ font-family: "Lobster";}
.purchase-below{font-size: 1.3rem;}

.card{
    padding: 0%;
    height: 75vh;
    width: 22rem;
}

.card-body{padding: 0%;}

.card-body h1{font-size: 4.5rem;}

.card-body a{
    width: 60%;
    background-color: #343a40;
    color: whitesmoke;
    font-size: 1.5rem;
}

.card-title{
    width: 100%;
    padding: 0%;
    height: 15%;
    font-size: 1.9rem;
}

.card-text{font-size: 1rem;}

.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.section-3{ background: linear-gradient(to bottom, #dd2476, #ff512f);}

.section-3 p{
  font-size: 22px;
  width: 90%;
}


.download button i{
    padding: 5px 10px;
  font-size: 3rem;
}
.download div div p{
    padding: 0;
    font-size: 1rem;
  }
.download .d-flex{
    border-radius: 3em;
}
  footer{ background-color: rgba(0, 0, 0, 0.815); }  

  footer div p{ color: #6c757d; }

  footer div button{
    text-decoration: none;
    background: none;
    border: none;
    padding: 0; 
    margin: 0; 
    cursor: pointer;
  }

  .f-description{
    max-width: 474px;
  }

  .section-4{
    height: 120vh;
    color: #343a40;
  }

  .input-footer{
    max-width: 25rem;
    background-color: #343a40;
    border: none;
  }

  .input-footer::placeholder {color: #fff; }

  .input-footer:focus{background-color: #343a40; }

  .send{margin-left: 0px;}

  .send i{
    font-size: 1rem;
    background: linear-gradient(to bottom, #dd2476, #ff512f);
    color: #343a40;
    padding: 0.7em;
    border: none;
  }
  .f-title{font-size: 1.5rem;}

  .icon-social{
    color: #dd2476;
  }
  