.tool{
    max-width: 100%;
    background: linear-gradient(45deg, rgb(25, 0, 0), rgb(47, 1, 1));
    min-height: 40vh;
}

.stack-icon{
    padding: 10px;
    font-size: 2rem;
}

.tech-icon{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr);    
  gap: 20px;
}
