.contact{
    background-color: rgb(25, 0, 0);
    height: 110vh;
    overflow: hidden;
}   


.contact-img img{
    max-width: 450px;
    margin-left: 200px;
    cursor: pointer;
    border: 2px solid #9e2525;
}

.contact-img img:hover{
    box-shadow: 0 0 20px #9e2525, 0 0 20px #9e2525, 0 0 30px #9e2525;
    transform: scale(1.05); 
    transition: ease-in-out 0.3s;
}