.tech{
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.tech i{
    font-size: 3rem;
}

.tech img{
    font-size: 3rem;
}